body{
    background-color: gray;
}
table{
    background-color: white;
}
h1{
float: center;
  margin: 25px;
  margin-left: 12px;
  margin-top: 0px;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
h2{
   margin: 25px;
  margin-left: 600px;
  margin-top: 0px; 
  color: white;  
}
h3{
    float: center;
    margin: 25px;
  margin-left: 590px;
  margin-top: 0px;
    color: black;  
}
p{
    float: center;
    margin: 25px;
  margin-left: 590px;
  margin-top: 0px;
    color: black;  
}
button{
     float: center;
    margin: 25px;
  margin-left: 590px;
  margin-top: 0px;
    color: black; 
}
.nav{
    width: auto;
    height: 60px;
    background: #49A8FA;
    display: flex;
    justify-content: flex-end;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul a{
    display: block;
    padding: 20px 20px;
    color: #fefefe;
    text-decoration: none;
}
.nav ul ul{
    position: absolute;
    display: block;
    background: #1b4f72;
    transform: translateX(60%);
    opacity:0;
    transition: all .6s;
}
.nav ul li a:hover spam{
    transform: translateY(10px);
    opacity: 0;
}
.nav ul li:hover ul{
    opacity: 1;
    transform: translateX(0%);
}